{% extends 'index.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block body %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome {{request.user}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Goto Profile</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
   <form method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p>{{error}}</p>
    {% endfor %}
    {% endif %}

     <div class="mb-3">
       <label for="exampleInputPassword1" class="form-label">Old Password</label>
       <input type="password" class="form-control" id="exampleInputPassword1" aria-describedby="PasswordHelp" name="old_password">
       {% if form.old_password.errors %}
       {{form.old_password.errors}}
       {% endif %} 
    </div>
     <div class="mb-3">
       <label for="exampleInputPassword2" class="form-label">New Password</label>
       <input type="password" class="form-control" id="exampleInputPassword2" name="new_password1">
       {% if form.new_password1.errors %}
       {{form.new_password1.errors}}
       {% endif %} 
    </div>
     <div class="mb-3">
       <label for="exampleInputPassword3" class="form-label">Confirm New Password</label>
       <input type="password" class="form-control" id="exampleInputPassword3" name="new_password2">
       {% if form.new_password2.errors %}
       {{form.new_password2.errors}}
       {% endif %}
     </div>
     <button type="submit" class="btn btn-primary">Submit</button>
   </form>
  </div>
 </div>
</div>

{% endblock body %}